.testimonials-main-container .slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.testimonials-main-container {
  position: relative;
  overflow: hidden;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  margin-top: 60px !important;
  margin-bottom: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.slick-prev {
  background-image: url("./assets/images/Vector.png") !important;
  background-position: center !important;
  width: 50px !important;
  height: 50px !important;
  z-index: 1 !important;
  background-repeat: no-repeat !important;
  border-radius: 26.087px !important;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

@media (min-width: 768px) {
  .slick-prev {
    left: 5px !important;
  }
}

.slick-prev:before {
  content: none !important;
}

.slick-next {
  background-image: url("./assets/images/grommet-icons_form-next-link.png") !important;
  background-position: center !important;
  width: 50px !important;
  height: 50px !important;
  z-index: 1 !important;
  background-repeat: no-repeat !important;
  border-radius: 26.087px !important;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

@media (min-width: 768px) {
  .slick-next {
    right: 5px !important;
  }
}

.slick-next:before {
  content: none !important;
}